@charset "utf-8";
/*css document*/

@import url(https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.green.css);

h4{
  color: rgba(132, 90, 109, 1);
  font-size: max(2vw ,20px);
  line-height: 1.25;
  letter-spacing: 1.5px;
  margin: 10px 0;
}

span{
  font-size: max(1vw, 16px);
}

.gtco-testimonials {
  position: relative;
  
    .owl-nav {
      display: none;
    }
  
    /* .owl-dots {
      padding: 20px;
    } */

    .owl-theme .owl-dots .owl-dot.active span{
      background: rgba(132, 90, 109, 1);
    }
  
    .card {
      background: #FFFFFB;
      box-shadow: 0 8px 30px -7px rgba(132, 90, 109, 0.5);
      margin: 0 20px;
      padding: 10px 20px 20px 20px;
      border-radius: 20px;
      border: 0;
  
      .card-img-top {
        max-width: 100px;
        border-radius: 50%;
        margin: 15px auto 0;
        box-shadow: 0 8px 20px -4px #95abbb;
        width: 100px;
        height: 100px;
      }

      .card-body{
        padding: 10px 0;
        text-align: center;
      }
    }
  
    .active {
      opacity: 0.5;
      transition: all 0.3s;
    }
  
    .center {
      opacity: 1;
    }
  }



.owl-carousel .owl-stage-outer {
  height: 350px;
}

@media only screen and (max-width: 767px) {

  .owl-carousel {
    .owl-nav button {
      &.owl-next, &.owl-prev {
        outline: 0;
      }
    }
  
    button.owl-dot {
      outline: 0;
    }
  }
}

@media only screen and (min-width: 1024px){
  .owl-carousel .owl-stage-outer {
    height: 400px;
  }
}